body{
    background-color: #272B30;
}
header{
    background-image: url(wraper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
nav{
    font-family: 'Nerko One', cursive;
    background-color: #3A497B;
}
.nav-item .nav-link{
    color: white !important;
    font-family: 'Nerko One', cursive;
}
.nav-item .nav-link.active, .nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
    font-family: 'Nerko One', cursive;
}
.navbar-collapse{
    flex-grow: initial;
}

.home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
 }
 
 .home .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
 }
 
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 50%;
    top: 80%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }